<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{% url "test2:test2_home" %}">Home</a>
    <h2>Object Manage: {{ user_id }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ object_create_form.as_p }}
        <button type="submit">Create</button>
    </form>
<ul>
    {% for object in all_objects %}
        <li>
            {{ object }}
        </li>
    {% endfor %}
</ul>
</body>
</html>
