<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Test 1</h1>
{% if user.is_authenticated %}
    {% if user.is_test1 %}
        <h1>{{ user }}</h1>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <h1>Account BLOCKED</h1>
        <a href="{% url 'test2:test2_home' %}">Go to test 2</a>
    {% endif %}
{% else %}
    <h2>Not logged in</h2>'
    <a href="{% url 'login' %}">Login</a>
{% endif %}
</body>
</html>
